<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">DETAIL</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">{{productPrice}}<small class="text-muted fw-light">/mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Special 16% off (price inclusive of discount)<span style="color: royalblue;">T&C</span></li>
            <li>Combo OfferBuy 2 items save 5%</li>
            <li>Email support</li>
            <li>Bank Offer5% Unlimited Cashback </li>
          </ul>
          <button type="button" class="w-100 btn btn-lg btn-outline-primary" routerLink="/shop">Back To Shop</button>
        </div>
      </div>
    </div>